body {
    min-height: 100vh;
    padding: 0;
  }

body {
    height: 100vh;
    padding: 0;
 
  }

button {
    width: 100px;
    height: 50px;
    align-self: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.square {
    width: 110px;
    height: 110px;
    border-style: solid;
    border-color: black;
    flex-basis: auto;
}

.hovered {
    box-shadow: blue;
    background-color: red;
}