html {
    height: 100% ;
}

body {
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 0;
  }

button {
    width: 100px;
    height: 50px;
    align-self: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#container {
    padding-left: 445px;
    padding-right:445px;
    display: grid;
    grid-template-columns: repeat(16,2fr);
    grid-template-rows: repeat(16,2fr);
    height: 779px;
    width: 779px;

}

.square {
    height: auto;
    width: auto;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
}



.hovered {
    box-shadow: blue;
    background-color: red;
}